* {
  font-family: "Quicksand";
}
body {
  padding: 0p;
  margin: 0;
}

/* navigation bar style */

.navigation-bar {
  grid-area: "nav";
  background-color: white;
  display: flex; /* row */
  justify-content: space-between;
  max-height: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-ul {
  display: flex; /* row */
  list-style-type: none;
  align-items: center;
  padding-right: 30px;
}

.nav-ul li a {
  text-decoration: none;
  color: #0c1753;
  font-size: 24px;
  font-weight: bold;
  padding: 5px 15px;
}
.nav-icon {
  padding-left: 25px;
  padding-bottom: 5px;
  align-self: center;
  max-width: 16%;
}

/* header style */

.header {
  display: flex; /* row */
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  color: white;
  background: linear-gradient(
    180deg,
    rgba(12, 23, 83, 0.58) 0%,
    rgba(147, 117, 255, 0.58) 97.92%
  );
}
.header-button {
  background-color: #ffe101;
  width: 200px;
  height: 45px;
  font-size: 35px;
  font-weight: bold;
  border: 10px;
  border-radius: 10px;
  color: #00a69c;
  margin-left: 50px;
}

.sub-header-container h2 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 10px;
}

.sub-header-container p {
  font-size: 16px;
  font-weight: bold;
}

.header-logo {
  max-width: 50%;
  height: auto;
}

/* main services style */

.main-services {
  display: flex;
  flex-direction: column;
}

.services-header {
  font-size: 45px;
  font-weight: bold;
  align-self: center;
  color: #00a69c;
  text-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.25);
}
.services-container {
  background-color: rgba(147, 117, 255, 0.1);
  display: flex; /* row */
  align-items: center;
  justify-content: space-evenly;
}

.service-white-border {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 240px;
  padding: 35px 25px;
  margin-top: 30px;
  margin: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #0c1753;
  font-size: 30px;
  font-weight: bold;
}

.service-icon-yallow {
  background-color: #fee552;
  padding: 15px;
  border-radius: 50%;
  margin: 15px;
}
.service-icon-yallow img {
  max-width: 80px;
  max-height: 80px;
}

/* main content style */

.main-contet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content {
  display: flex; /* row */
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
.content-text {
  direction: flex;
  flex-direction: column;
  text-align: center;
  color: #0c1753;
}

.content-text h1 {
  color: #00a69c;
  white-space: pre-line;
  margin: 0;
}
.content-text p {
  font-size: 15px;
  white-space: pre-line;
  margin: 0;
}

.content-text ol,
.content-text ul {
  font-size: 14px;
  white-space: pre-line;
  margin: 0;
}

.content img {
  max-width: 40%;
  height: auto;
}

/* from style*/
.form-container {
  background-color: #0c1753;
  display: flex; /* row */
  justify-content: space-evenly;
  color: white;
  padding: 30px 5px;
}

.form-container h1 {
  padding-top: 30px;
  font-size: 50px;
}

#contact-form input,
#contact-form textarea {
  border-radius: 5px;
  border: 2px solid rgba(159, 160, 184, 0.4);
}

.submit-button {
  background-color: #ffe101;
  color: #0c1753;
}

.input-container {
  display: grid;
  grid-template-rows: repeat(3, 55px) 120px 55px;
  grid-template-columns: repeat(2, minmax(100px, 250px));
  grid-template-areas: "name city" "email email" "subject subject" "message message" "button button";
  gap: 12px 12px;
}

#user-name {
  grid-area: name;
}
#city {
  grid-area: city;
}
#user-email {
  grid-area: email;
}

#message {
  grid-area: message;
}
#subject {
  grid-area: subject;
}
#submit-button {
  grid-area: button;
  color: #0c1753;
  font-size: 25px;
  font-weight: bold;
}
::placeholder {
  color: #0c1753;
  text-align: left;
  padding: 20px;
  opacity: 0.75;
}

/* footer style*/

.footer-container {
  display: flex; /* row */
  justify-content: space-around;
  padding: 25px;
  padding-bottom: 50px;
  background-color: rgba(147, 117, 255, 0.1);
}

.footer-container img {
  padding-top: 45px;
  max-width: 16%;
  height: auto;
}

.footer-text h2 {
  color: #00a69c;
  margin-bottom: 0px;
}
.footer-text {
  display: flex;
  flex-direction: column;
}

.footer-text .footer-ul {
  list-style-type: none;
  line-height: 30px;
  padding-left: 0px;
}

#social-media-list {
  display: flex; /* row */
  justify-content: flex-start;
}

#facebook,
#instagram,
#twitter {
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.footer-ul li a {
  text-decoration: none;
  color: #0c1753;
  font-size: 20px;
  font-weight: bolder;
}
.copyright-container {
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 3px;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(12, 23, 83, 0.58) 0%,
    rgba(147, 117, 255, 0.58) 97.92%
  );
}
.copyright-container p span {
  color: #0c1753;
}

/* media query */

@media (max-width: 767px) {
  .navigation-bar {
    align-items: flex-start;
  }
  .nav-ul {
    align-items: flex-start;
    padding: 0;
  }
  .nav-ul li a {
    font-size: 20px;
    padding: 0px 5px 0px 5px;
  }
  /*----*/

  .header {
    flex-direction: column;
    padding: 0px;
  }
  .header-button {
    font-size: 25px;
    width: auto;
    height: auto;
  }
  .sub-header-container h2 {
    font-size: 34px;
  }
  .sub-header-container p {
    font-size: 18px;
  }
  /*----*/

  .services-header {
    font-size: 35px;
  }
  .services-container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .service-white-border {
    width: 200px;
    font-size: 25px;
    padding: 10px 10px;
    margin: 10px;
  }
  .service-icon-yallow {
    padding: 15px;
  }
  .service-icon-yallow img {
    width: 70px;
  }

  /*----*/
  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content-text p {
    font-size: 16px;
  }
  .content-text ol,
  .content-text ul {
    font-size: 15px;
  }
  #icon-id {
    order: -1;
  }

  /*----*/

  .form-container h1 {
    font-size: 28px;
    padding: 0px;
  }
  .form-container {
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }
  #contact-form h3 {
    text-align: center;
    justify-content: center;
    font-size: 15px;
    padding: 0px;
  }

  .input-container {
    grid-template-rows: repeat(3, 30px) 90px 30px;
    grid-template-columns: repeat(2, minmax(50px, 150px));
    padding-bottom: 10px;
    justify-content: center;
  }
  #submit-button {
    font-size: 20px;
  }
  /*----*/
  .footer-container {
    padding: 0px;
  }

  .footer-text,
  .footer-text ul li a {
    margin: 0px;
    font-size: 10px;
  }
  .footer-text ul li {
    line-height: 20px;
  }

  #facebook,
  #instagram,
  #twitter {
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .copyright-container {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
